###############################################################################
# NULLPLATFORM - terraform.tfvars.example
# Uso: terraform apply -var-file="../common.tfvars" -var-file="terraform.tfvars"
###############################################################################

# Scope Definition Configuration
service_path = "/azure"                          #Folder inside https://github.com/nullplatform/scopes to look for the code to execute
service_path_scheduled_task= "/scheduled_task"   #Folder inside https://github.com/nullplatform/scopes to look for the code to execute


#Used to configured metadata and policies to an specific Namespace
nrn_namespace = "organization=XXXXX:account=XXXXX:namespace=XXXXX"
